.rc-phone {
  position: absolute;
  border: 1px solid orange;
  background-color: #cccccc;
  padding: 20px;
  right: 100px;
  top: 100px;
  width: 250px;
  height: 300px;
  z-index: 10000;
}

.rc-message {
  color: #000000;
}

.rc-actions {
  position: absolute;
  bottom: 20px;
  text-align: center;
}

.rc-timestamp {
  color: #666666;
}

.ringcentral-invitation-close {
  cursor: pointer;
  float: right;
}
